extends layout.pug

block content
    .toggle.text-center
        a(data-toggle="collapse", href="#books", aria-expanded="true", aria-controls="books").btn.btn-sm.btn-info.my-3.text-decoration-none.text-light.d-md-none Toggle Booklist 
    .row.mt-4.mx-auto
        #books.collapse.show.col-12.col-md-8.mx-xs-auto
            each book in books
                .book-card.text-center.text-md-left
                    a(href=`/booklist/${book._id}`)
                        if (book.OpenLibraryId)
                            img(src=`http://covers.openlibrary.org/b/olid/${book.OpenLibraryId}-M.jpg`, alt=`${book.title} cover art`).img-thumbnail.align-self-center
                        h2.title-case= book.title
                    p.lead= book.author
                    if(book.summaries.length > 0)
                        p.text-muted Summaries: #{book.summaries.length}
        if (currentUser)
            .col.col-md-4.pr-md-6
                include partials/add-book-forum.pug