extends layout.pug

block content 
    include partials/error.pug

    .d-md-flex.mt-4.align-items-center
        if (book.OpenLibraryId)
            img(src=`http://covers.openlibrary.org/b/olid/${book.OpenLibraryId}-M.jpg`, alt=`${book.title} cover art`).img-thumbnail.d-block.mx-auto.mx-md-2
        .ml-md-2
            h1.text-center.text-md-left.title-case= book.title
            h3.text-center.text-md-left.title-case= book.author
    a(href="https://openlibrary.org/").text-muted.text-decoration-none.ml-5.ml-md-1 Book covers provided by the Open Library

    if(currentUser) 
        .text-center.text-md-left.mt-4.ml-md-2
            button(type="button", data-toggle="modal", data-target="#summaryModal").btn.btn-info.btn-md.text-light.text-decoration-none.shadow-lg Post a new summary

    hr 
    
    a(data-toggle="collapse", href="#summaries", aria-expanded="false", aria-controls="summaries").btn.btn-sm.btn-info.text-center.text-decoration-none.text-light Toggle Summaries

    #summaries.collapse
            h2.text-center.text-md-left.text-info.mt-3 Summaries
            ul.ml-md-4.list-unstyled
                if(book.summaries.length > 0)
                    each summary in book.summaries
                        li.text-center.text-md-left
                            unless summary.postedBy.profileName.firstName
                                h5= summary.postedBy.username
                            else 
                                h5= summary.postedBy.profileName.firstName
                            span= summary.bookRating
                            p.text-muted= summary.postedOn.toDateString()

                            h5 Summary:
                            p.lead.text-center.text-md-left.ml-md-2= summary.summaryContent
                            hr.mx-5
                else
                    li
                        h3.text-muted.text-center.text-md-left No summaries are currently written for this book

    include partials/modal.pug